body {
    font-family: "Microsoft YaHei", sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.carousel-item img {
    max-height: 4%;
    object-fit: cover;
}

.card {
    margin-top: 10px;
    border: 1px solid #28a745;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-item img {
    max-width: 30%;    
    height: auto;      
    margin: 0 auto;    
    display: block;    
}


.carousel-item {
    text-align: center; 
}

.list-group-item {
    display: block;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #333; 
    transition: color 0.3s ease; 
}

.list-group-item:hover {
    background-color: #f8f9fa; 
}

.list-group-item h5, .list-group-item p {
    color: inherit; 
    transition: color 0.3s ease; 
}

.list-group-item:hover h5, .list-group-item:hover p {
    color: #6c757d; 
}